body {
 background:rgb(187, 247, 45);
 font-family: 'Happy Monkey', cursive;
 font-size: 11pt;
 color:white;
}

h1 {
  font-family: 'Comic Sans MS', 'Comic Sans', Serif;
  font-weight: bold;
  color:rgb(80, 82, 199);
}

h3 {
  font-family: "Comic Sans MS", "Comic Sans", Serif;
  font-weight: bold;
  color:rgb(80, 82, 199);
}

#heart {
  color: yellow;
}

#eyes {
  color: brown;
}
